* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(4, 9, 30, 0.307), rgba(4, 9, 30, 0.608)), url(https://images-ext-1.discordapp.net/external/AwI-i24HvOG38Hbhlq070G8tEp8hjFOwhMh9thzkXZU/https/wallpaperaccess.com/full/4848691.jpg?width=1193&height=671) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo img {
    width: auto;
    height: 55px;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 110px;
    height: 45px;
    background: transparent;
    border: 2px solid #d1caca;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #00e1ff;
    box-shadow: 0 0 10px #00e1ff, 0 0 40px #00e1ff, 0 0 80px #00e1ff;
    color: #0664ac;
    transition-delay: 0.1s;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    width: 365px;
    border: 2.5px solid #83EEFF;
    border-radius: 5px;
}

img {
    width: 90px;
    height: 90px;
}

.game p {
    background-color: aqua;
    cursor: pointer;
}

.frame{
    display: flex;
    margin-right: 15px;
}

h3{
    color: whitesmoke;
}